.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.hero-section > div {
    width: 45%;
}

@media (max-width: 992px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-section > div {
        width: 100%;
    }
}