.gif-container {
    width: 90%;
    display: block;
    border-radius: 15px
}

.gif-item {
    aspect-ratio: 16 / 9;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 200ms;
    filter: brightness(0.8);
    border-radius: 15px
}

.gif-item:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
    outline: 2px white solid;
}