@import "tailwindcss";

@theme {
  --font-sans: "Diagramm", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --default-button-color: #1F8E00;
  --light-green-app: #3EFFB4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

html,
body {
  @apply bg-white dark:bg-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
