.default-button {
    margin: 0 15px;
    background: linear-gradient(185.93deg, #1F8E00 -14.42%, #000000 95.44%);
    outline: 2px solid rgba(255, 255, 255, .0);
    cursor: pointer;
    padding: 15px;
    border-radius: 21px;
    box-sizing: border-box;
    transition: all 400ms;
}

.default-button:hover {
    outline: 2px solid rgba(255, 255, 255, 1);
}